#heading {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid black;
}

.search {
  display: flex;
}

.search-button {
  margin-left: 5px;
}

.search-button > button {
  height: 25px;
}

.search-input {
  width: 100%;
  height: 20px;
}

.header-li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.company-name {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-top: 17px;
  margin-left: 200px;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-card {
  width: 200px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  margin: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid grey;
}

.res-img {
  width: 100%;
  height: 200px;
}

.res-name {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.res-cuisine {
  margin-bottom: 5px;
}

.res-list {
  display: flex;
  flex-wrap: wrap;
}

.top-rated-btn {
  padding: 8px;
  margin-left: 10px;
  background-color: bisque;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button {
  background-color: bisque;
  border: none;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 210px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login {
  width: 70px;
}

a {
  text-decoration: none;
  color: black;
}

.res-info-main {
  text-align: center;
}

.res-info-main li {
  list-style-type: none;
}

.rating {
  color: green;
  font-weight: bolder;
}

.menu-list-main {
  display: flex;
  justify-content: space-between;
}

.menu-description-section {
  width: 70%;
}

.menu-image-section {
  width: 30%;
}

.menu-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: black;
}

.description {
  color: grey;
}

.res-name-section {
  width: 100%;
  height: 200px;
  margin: 10px;
  background-color: #f0f0f0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.vegonly {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 5px;
  margin-bottom: 50px;
}

.veg-only-section {
  display: flex;
  justify-content: center;
}

.image-replica {
  margin-left: 93px;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
}

.user-card {
  padding: 10px;
  border: 1px solid gray;
  width: 300px;
  margin: 10px;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.avatar-img {
  width: 100%;
}

.offline-container {
  text-align: center;
  margin-top: 30px;
}

.oops-text {
  font-weight: bolder;
  font-size: 90px;
}

.veg_label {
  position: absolute;
  background-color: green;
  color: white;
  margin-left: 20px;
  padding: 6px;
}

.menu-title {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.arrow {
  float: right;
  margin-right: 15px;
}

.add-button {
  position: absolute;
  width: 75px;
  height: 30px;
  margin-top: 150px;
  margin-left: 60px;
  font-weight: bolder;
  background-color: #f0f0f0;
}

.cart-main {
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
}

.list {
  list-style-type: none;
}

.empty-cart {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 3rem;
}
